## Logistic Regression - Model Fitting
### University of Virginia
### DS 5110: Big Data Systems
### By: TeamBike

**Creating logistic-regression model for the expanded neighborhood set.**

Session is 16 cores, 128 GB RAM

In [1]:
from pyspark.ml import Pipeline
from pyspark.ml.classification import GBTClassifier
from pyspark.ml.feature import StringIndexer, VectorIndexer
from pyspark.ml.evaluation import MulticlassClassificationEvaluator

#### Create SparkSession (this configuration worked, but this file takes a really long time to run with all the data.

In [2]:
from pyspark.sql import SparkSession

spark = SparkSession \
    .builder\
    .master("local") \
    .appName("models") \
    .config("spark.executor.memory", '60g') \
    .config('spark.executor.cores', '10') \
    .config('spark.cores.max', '12') \
    .config("spark.driver.memory",'40g') \
    .getOrCreate()



'''
spark = SparkSession \
    .builder\
    .master("local") \
    .appName("models") \
    .config("spark.executor.memory", '80g') \
    .config('spark.executor.cores', '16') \
    .config('spark.cores.max', '16') \
    .config("spark.driver.memory",'40g') \
    .getOrCreate()
'''

#spark = SparkSession \
#    .builder.getOrCreate()


sc = SparkSession.sparkContext

In [3]:
%matplotlib inline

#### Read `master_dataset` parquet, which includes all Citi Bike data, weather data, and real-estate data.

In [4]:
df = spark.read.parquet("/project/ds5559/Summer2021_TeamBike/master_dataset.parquet");
b_map = spark.read.csv("station_df2.csv", header = True).withColumnRenamed('startStationName', 'stationName');
#borough_plus = spark.read.csv("station_df2.csv", header = True).withColumnRenamed('startStationName', 'stationName');
print(type(df)) # I want to see what type of object this created to make sure it's a DF

<class 'pyspark.sql.dataframe.DataFrame'>

#### `b_map` contains the borough-neighborhood mapping that will incorporate the predictor variable into the data set.

In [5]:
b_map = b_map.drop('_c0').drop('prediction').drop('latitude').drop('longitude').drop('Borough')

In [6]:
df.printSchema()

root
 |-- Borough: string (nullable = true)
 |-- month_year: string (nullable = true)
 |-- startStationId: string (nullable = true)
 |-- startStationName: string (nullable = true)
 |-- startStationLatitude: double (nullable = true)
 |-- startStationLongitude: double (nullable = true)
 |-- date: string (nullable = true)
 |-- hour: integer (nullable = true)
 |-- tripduration: long (nullable = true)
 |-- starttime: string (nullable = true)
 |-- endStationId: double (nullable = true)
 |-- endStationName: string (nullable = true)
 |-- endStationLatitude: double (nullable = true)
 |-- endStationLongitude: double (nullable = true)
 |-- bikeid: double (nullable = true)
 |-- usertype: string (nullable = true)
 |-- birthyear: string (nullable = true)
 |-- gender: double (nullable = true)
 |-- temp: double (nullable = true)
 |-- feels_like: double (nullable = true)
 |-- temp_min: double (nullable = true)
 |-- temp_max: double (nullable = true)
 |-- pressure: long (nullable = true)
 |-- humidity: long (nullable = true)
 |-- wind_speed: double (nullable = true)
 |-- rain_1h: double (nullable = true)
 |-- rain_3h: double (nullable = true)
 |-- snow_1h: double (nullable = true)
 |-- snow_3h: double (nullable = true)
 |-- clouds_all: long (nullable = true)
 |-- weather_main: string (nullable = true)
 |-- dow: integer (nullable = true)
 |-- day: string (nullable = true)
 |-- month: string (nullable = true)
 |-- time_bin: string (nullable = true)
 |-- peak_commute: string (nullable = true)
 |-- year: integer (nullable = true)
 |-- 3h_precip: double (nullable = true)
 |-- 1h_precip: double (nullable = true)
 |-- precip: string (nullable = true)
 |-- start_lat_long: struct (nullable = true)
 |    |-- startStationLatitude: double (nullable = true)
 |    |-- startStationLongitude: double (nullable = true)
 |-- end_lat_long: struct (nullable = true)
 |    |-- endStationLatitude: double (nullable = true)
 |    |-- endStationLongitude: double (nullable = true)
 |-- zipcodes: string (nullable = true)
 |-- avg_days_on_market: double (nullable = true)
 |-- avg_discount_share: double (nullable = true)
 |-- avg_median_sales_price: double (nullable = true)
 |-- avg_median_asking_sale: double (nullable = true)
 |-- avg_median_asking_rent: double (nullable = true)
 |-- avg_price_cut_share: double (nullable = true)
 |-- avg_sales_volume: double (nullable = true)
 |-- avg_sales_inventory: double (nullable = true)
 |-- avg_rent_inventory: double (nullable = true)
 |-- avg_sales_list_ratio: double (nullable = true)

In [7]:
full = df.columns # get list of all columns

In [8]:
df.show(1)

+--------+----------+--------------+-------------------+--------------------+---------------------+----------+----+------------+--------------------+------------+-------------------+------------------+-------------------+-------+--------+---------+------+------+----------+--------+--------+--------+--------+----------+-------+-------+-------+-------+----------+------------+---+------+-----+--------+------------+----+---------+---------+---------+--------------------+--------------------+--------+------------------+------------------+----------------------+----------------------+----------------------+-------------------+------------------+-------------------+------------------+--------------------+
| Borough|month_year|startStationId|   startStationName|startStationLatitude|startStationLongitude|      date|hour|tripduration|           starttime|endStationId|     endStationName|endStationLatitude|endStationLongitude| bikeid|usertype|birthyear|gender|  temp|feels_like|temp_min|temp_max|pressure|humidity|wind_speed|rain_1h|rain_3h|snow_1h|snow_3h|clouds_all|weather_main|dow|   day|month|time_bin|peak_commute|year|3h_precip|1h_precip|   precip|      start_lat_long|        end_lat_long|zipcodes|avg_days_on_market|avg_discount_share|avg_median_sales_price|avg_median_asking_sale|avg_median_asking_rent|avg_price_cut_share|  avg_sales_volume|avg_sales_inventory|avg_rent_inventory|avg_sales_list_ratio|
+--------+----------+--------------+-------------------+--------------------+---------------------+----------+----+------------+--------------------+------------+-------------------+------------------+-------------------+-------+--------+---------+------+------+----------+--------+--------+--------+--------+----------+-------+-------+-------+-------+----------+------------+---+------+-----+--------+------------+----+---------+---------+---------+--------------------+--------------------+--------+------------------+------------------+----------------------+----------------------+----------------------+-------------------+------------------+-------------------+------------------+--------------------+
|Brooklyn|   2020-06|          3419|Douglass St & 4 Ave|   40.67927879999999|         -73.98154004|2020-06-01|   0|        1062|2020-06-01 00:00:...|      3419.0|Douglass St & 4 Ave| 40.67927879999999|       -73.98154004|39852.0|Customer|     1997|   2.0|64.292|     57.38|  62.006|  62.006|    1018|      43|      3.93|    0.0|    0.0|    0.0|    0.0|         1|       Clear|  2|Monday|  Jun|   Night|    non_peak|2020|      0.0|      0.0|no_precip|[40.6792787999999...|[40.6792787999999...|   11217| 90.31829652996842|0.1875610615471485|     854338.1216332259|    1057032.5681996944|     2549.918969486926|0.08441581266425231|38.345454545454544|  241.6909090909091|1002.4363636363636|  0.9601094091903719|
+--------+----------+--------------+-------------------+--------------------+---------------------+----------+----+------------+--------------------+------------+-------------------+------------------+-------------------+-------+--------+---------+------+------+----------+--------+--------+--------+--------+----------+-------+-------+-------+-------+----------+------------+---+------+-----+--------+------------+----+---------+---------+---------+--------------------+--------------------+--------+------------------+------------------+----------------------+----------------------+----------------------+-------------------+------------------+-------------------+------------------+--------------------+
only showing top 1 row

### Borough Ride Analysis

#### Where do rides start?
- Some initial analysis
- Number of rides and their relative frequency

In [9]:
import pyspark.sql.functions as F
from pyspark.sql.types import *

tot = df.count()

df.groupby('Borough').count()\
  .withColumnRenamed('count', '# Rides') \
  .withColumn('% Total', F.round((F.col('# Rides') / tot) * 100, 2) ) \
  .show()

+---------+--------+-------+
|  Borough| # Rides|% Total|
+---------+--------+-------+
|   Queens| 1849398|   3.74|
| Brooklyn| 9574892|  19.38|
|Manhattan|37688969|   76.3|
|    Bronx|  280961|   0.57|
+---------+--------+-------+

### Notice that there are no rides in Staten Island due to there being no stations located there.

- Number of stations in each borough

In [10]:
tot = df.select('startStationName', 'Borough')\
.distinct().count()

df.select('startStationName', 'Borough')\
.distinct().groupby('Borough').count()\
  .withColumnRenamed('count', '# Stations') \
  .withColumn('% Total', F.round((F.col('# Stations') / tot) * 100, 2) ) \
  .show()

+---------+----------+-------+
|  Borough|# Stations|% Total|
+---------+----------+-------+
|   Queens|       179|  11.72|
| Brooklyn|       471|  30.84|
|Manhattan|       651|  42.63|
|    Bronx|       226|   14.8|
+---------+----------+-------+

### There is an outsized number of rides in Manhattan and Brooklyn relative to the number of stations there are in these two boroughs.

In [11]:
import pyspark.sql.functions

df = df.withColumn('month', pyspark.sql.functions.split(df['month_year'], '-').getItem(1))

In [12]:
df_rf = df.select('month_year', 'startStationName', 'hour', 'tripduration', 'endStationName', 'day', 'month', 'time_bin', 'peak_commute', )

In [13]:
df_rf.show(10)

+----------+--------------------+----+------------+--------------------+------+-----+--------+------------+
|month_year|    startStationName|hour|tripduration|      endStationName|   day|month|time_bin|peak_commute|
+----------+--------------------+----+------------+--------------------+------+-----+--------+------------+
|   2020-06| Douglass St & 4 Ave|   0|        1062| Douglass St & 4 Ave|Monday|   06|   Night|    non_peak|
|   2020-06|Clinton Ave & Myr...|   0|        3810|Sullivan St & Was...|Monday|   06|   Night|    non_peak|
|   2020-06| Broadway & Berry St|   0|        1017|Classon Ave & St ...|Monday|   06|   Night|    non_peak|
|   2020-06|E 53 St & Lexingt...|   0|        1437|  E 17 St & Broadway|Monday|   06|   Night|    non_peak|
|   2020-06|Laight St & Hudso...|   0|         355|Perry St & Bleeck...|Monday|   06|   Night|    non_peak|
|   2020-06|Duffield St & Wil...|   0|          87| Bond St & Fulton St|Monday|   06|   Night|    non_peak|
|   2020-06|Fulton St & Broadway|   0|        2714|     1 Ave & E 44 St|Monday|   06|   Night|    non_peak|
|   2020-06|     E 11 St & 2 Ave|   0|        2096|Cooper Square & A...|Monday|   06|   Night|    non_peak|
|   2020-06|Frederick Douglas...|   0|        1611|Frederick Douglas...|Monday|   06|   Night|    non_peak|
|   2020-06| Vernon Blvd & 30 Rd|   0|         529|      24 Ave & 29 St|Monday|   06|   Night|    non_peak|
+----------+--------------------+----+------------+--------------------+------+-----+--------+------------+
only showing top 10 rows

In [14]:
from pyspark.sql.types import IntegerType
df_rf = df_rf.withColumn("month", df_rf["month"].cast(IntegerType()))#.withColumnRenamed('startStationName', 'station')

In [15]:
df_rf.show(10)

+----------+--------------------+----+------------+--------------------+------+-----+--------+------------+
|month_year|    startStationName|hour|tripduration|      endStationName|   day|month|time_bin|peak_commute|
+----------+--------------------+----+------------+--------------------+------+-----+--------+------------+
|   2020-06| Douglass St & 4 Ave|   0|        1062| Douglass St & 4 Ave|Monday|    6|   Night|    non_peak|
|   2020-06|Clinton Ave & Myr...|   0|        3810|Sullivan St & Was...|Monday|    6|   Night|    non_peak|
|   2020-06| Broadway & Berry St|   0|        1017|Classon Ave & St ...|Monday|    6|   Night|    non_peak|
|   2020-06|E 53 St & Lexingt...|   0|        1437|  E 17 St & Broadway|Monday|    6|   Night|    non_peak|
|   2020-06|Laight St & Hudso...|   0|         355|Perry St & Bleeck...|Monday|    6|   Night|    non_peak|
|   2020-06|Duffield St & Wil...|   0|          87| Bond St & Fulton St|Monday|    6|   Night|    non_peak|
|   2020-06|Fulton St & Broadway|   0|        2714|     1 Ave & E 44 St|Monday|    6|   Night|    non_peak|
|   2020-06|     E 11 St & 2 Ave|   0|        2096|Cooper Square & A...|Monday|    6|   Night|    non_peak|
|   2020-06|Frederick Douglas...|   0|        1611|Frederick Douglas...|Monday|    6|   Night|    non_peak|
|   2020-06| Vernon Blvd & 30 Rd|   0|         529|      24 Ave & 29 St|Monday|    6|   Night|    non_peak|
+----------+--------------------+----+------------+--------------------+------+-----+--------+------------+
only showing top 10 rows

## Join the neighborhoods created by the K-Means algorithm (in `b_map`) to the rest of the data:

In [16]:
df_rf = df_rf.join(b_map, on = df_rf.startStationName == b_map.stationName).withColumnRenamed('concat', 'start_neighborhood')

In [17]:
df_rf.show(5)

+----------+--------------------+----+------------+--------------------+------+-----+--------+------------+--------------------+--------------------+
|month_year|    startStationName|hour|tripduration|      endStationName|   day|month|time_bin|peak_commute|         stationName|  start_neighborhood|
+----------+--------------------+----+------------+--------------------+------+-----+--------+------------+--------------------+--------------------+
|   2020-06| Douglass St & 4 Ave|   0|        1062| Douglass St & 4 Ave|Monday|    6|   Night|    non_peak| Douglass St & 4 Ave|          Midtown BK|
|   2020-06|Clinton Ave & Myr...|   0|        3810|Sullivan St & Was...|Monday|    6|   Night|    non_peak|Clinton Ave & Myr...|          Midtown BK|
|   2020-06| Broadway & Berry St|   0|        1017|Classon Ave & St ...|Monday|    6|   Night|    non_peak| Broadway & Berry St|           Uptown BK|
|   2020-06|E 53 St & Lexingt...|   0|        1437|  E 17 St & Broadway|Monday|    6|   Night|    non_peak|E 53 St & Lexingt...|Central Park East...|
|   2020-06|Laight St & Hudso...|   0|         355|Perry St & Bleeck...|Monday|    6|   Night|    non_peak|Laight St & Hudso...|  Downtown Manhattan|
+----------+--------------------+----+------------+--------------------+------+-----+--------+------------+--------------------+--------------------+
only showing top 5 rows

In [18]:
df_rf = df_rf.drop('stationName')

In [19]:
df_rf.count()

49614503

### There is now a column of neighborhood values in the dataframe.

### Similar analysis performed on the boroughs seen below for the neighborhoods:

In [20]:
tot = df_rf.select('start_neighborhood').count()

df_rf.select('start_neighborhood').groupby('start_neighborhood').count()\
  .withColumnRenamed('count', '# Rides') \
  .withColumn('% Total', F.round((F.col('# Rides') / tot) * 100, 2) ) \
  .show()

+--------------------+--------+-------+
|  start_neighborhood| # Rides|% Total|
+--------------------+--------+-------+
|              Queens| 1900644|   3.83|
|         Downtown BK|  491417|   0.99|
|Central Park East...| 8340058|  16.81|
|  Downtown Manhattan|10076749|  20.31|
|Harlem & Wash. He...|  147133|    0.3|
|          Midtown BK| 5202790|  10.49|
|           Uptown BK| 3949040|   7.96|
|   Midtown Manhattan|16070516|  32.39|
|    Uptown Manhattan| 3155195|   6.36|
|               Bronx|  280961|   0.57|
+--------------------+--------+-------+

In [21]:
tot = df_rf.select('startStationName')\
.distinct().count()

df_rf.select('start_neighborhood', 'startStationName')\
.distinct().groupby('start_neighborhood').count()\
  .withColumnRenamed('count', '# Stations') \
  .withColumn('% Total', F.round((F.col('# Stations') / tot) * 100, 2) ) \
  .show()

+--------------------+----------+-------+
|  start_neighborhood|# Stations|% Total|
+--------------------+----------+-------+
|              Queens|       179|  11.75|
|         Downtown BK|       116|   7.62|
|Central Park East...|       137|    9.0|
|  Downtown Manhattan|       138|   9.06|
|Harlem & Wash. He...|        67|    4.4|
|          Midtown BK|       172|  11.29|
|           Uptown BK|       183|  12.02|
|   Midtown Manhattan|       171|  11.23|
|    Uptown Manhattan|       138|   9.06|
|               Bronx|       226|  14.84|
+--------------------+----------+-------+

### We still see some imbalanced data when considering the number of rides, but the number of stations is relatively spread across all of the neighborhoods.

**Bring in the neighborhoods for the end stations:**

In [22]:
df_rf = df_rf.join(b_map, on = df_rf.endStationName == b_map.stationName).withColumnRenamed('concat', 'end_neighborhood').drop('stationName')

In [23]:
df_rf.show(5)

+----------+--------------------+----+------------+--------------------+------+-----+--------+------------+--------------------+------------------+
|month_year|    startStationName|hour|tripduration|      endStationName|   day|month|time_bin|peak_commute|  start_neighborhood|  end_neighborhood|
+----------+--------------------+----+------------+--------------------+------+-----+--------+------------+--------------------+------------------+
|   2020-06| Douglass St & 4 Ave|   0|        1062| Douglass St & 4 Ave|Monday|    6|   Night|    non_peak|          Midtown BK|        Midtown BK|
|   2020-06|Clinton Ave & Myr...|   0|        3810|Sullivan St & Was...|Monday|    6|   Night|    non_peak|          Midtown BK|Downtown Manhattan|
|   2020-06| Broadway & Berry St|   0|        1017|Classon Ave & St ...|Monday|    6|   Night|    non_peak|           Uptown BK|        Midtown BK|
|   2020-06|E 53 St & Lexingt...|   0|        1437|  E 17 St & Broadway|Monday|    6|   Night|    non_peak|Central Park East...| Midtown Manhattan|
|   2020-06|Laight St & Hudso...|   0|         355|Perry St & Bleeck...|Monday|    6|   Night|    non_peak|  Downtown Manhattan| Midtown Manhattan|
+----------+--------------------+----+------------+--------------------+------+-----+--------+------------+--------------------+------------------+
only showing top 5 rows

In [24]:
df_rf.count()

49271009

In [25]:
df_rf = df_rf.drop('month_year')

In [26]:
df_rf.show(5)

+--------------------+----+------------+--------------------+------+-----+--------+------------+--------------------+------------------+
|    startStationName|hour|tripduration|      endStationName|   day|month|time_bin|peak_commute|  start_neighborhood|  end_neighborhood|
+--------------------+----+------------+--------------------+------+-----+--------+------------+--------------------+------------------+
| Douglass St & 4 Ave|   0|        1062| Douglass St & 4 Ave|Monday|    6|   Night|    non_peak|          Midtown BK|        Midtown BK|
|Clinton Ave & Myr...|   0|        3810|Sullivan St & Was...|Monday|    6|   Night|    non_peak|          Midtown BK|Downtown Manhattan|
| Broadway & Berry St|   0|        1017|Classon Ave & St ...|Monday|    6|   Night|    non_peak|           Uptown BK|        Midtown BK|
|E 53 St & Lexingt...|   0|        1437|  E 17 St & Broadway|Monday|    6|   Night|    non_peak|Central Park East...| Midtown Manhattan|
|Laight St & Hudso...|   0|         355|Perry St & Bleeck...|Monday|    6|   Night|    non_peak|  Downtown Manhattan| Midtown Manhattan|
+--------------------+----+------------+--------------------+------+-----+--------+------------+--------------------+------------------+
only showing top 5 rows

### We now have the starting neighborhoods and ending neighborhoods for each ride in the full dataset. Let's look at some ride details below:

In [27]:
from pyspark.sql.functions import desc

tot = df_rf.count()

df_rf.groupby('start_neighborhood', 'end_neighborhood').count()\
  .withColumnRenamed('count', '# Rides') \
  .withColumn('% Total', F.round((F.col('# Rides') / tot) * 100, 2) ) \
  .sort(desc("count")).show(100)

+--------------------+--------------------+--------+-------+
|  start_neighborhood|    end_neighborhood| # Rides|% Total|
+--------------------+--------------------+--------+-------+
|   Midtown Manhattan|   Midtown Manhattan|10154874|  20.61|
|  Downtown Manhattan|  Downtown Manhattan| 5763571|   11.7|
|Central Park East...|Central Park East...| 4880562|   9.91|
|          Midtown BK|          Midtown BK| 3825678|   7.76|
|  Downtown Manhattan|   Midtown Manhattan| 3040322|   6.17|
|   Midtown Manhattan|  Downtown Manhattan| 3014183|   6.12|
|           Uptown BK|           Uptown BK| 2735445|   5.55|
|   Midtown Manhattan|Central Park East...| 2108910|   4.28|
|    Uptown Manhattan|    Uptown Manhattan| 1962820|   3.98|
|Central Park East...|   Midtown Manhattan| 1962534|   3.98|
|              Queens|              Queens| 1411336|   2.86|
|    Uptown Manhattan|Central Park East...|  851787|   1.73|
|Central Park East...|    Uptown Manhattan|  844450|   1.71|
|           Uptown BK|          Midtown BK|  549869|   1.12|
|          Midtown BK|           Uptown BK|  506213|   1.03|
|  Downtown Manhattan|          Midtown BK|  428341|   0.87|
|          Midtown BK|  Downtown Manhattan|  380457|   0.77|
|  Downtown Manhattan|Central Park East...|  369211|   0.75|
|Central Park East...|  Downtown Manhattan|  362208|   0.74|
|          Midtown BK|         Downtown BK|  333177|   0.68|
|  Downtown Manhattan|           Uptown BK|  315270|   0.64|
|           Uptown BK|  Downtown Manhattan|  290553|   0.59|
|         Downtown BK|          Midtown BK|  260538|   0.53|
|              Queens|           Uptown BK|  255841|   0.52|
|           Uptown BK|              Queens|  228209|   0.46|
|               Bronx|               Bronx|  210869|   0.43|
|   Midtown Manhattan|    Uptown Manhattan|  185598|   0.38|
|    Uptown Manhattan|   Midtown Manhattan|  182013|   0.37|
|         Downtown BK|         Downtown BK|  173911|   0.35|
|   Midtown Manhattan|          Midtown BK|  148214|    0.3|
|           Uptown BK|   Midtown Manhattan|  143143|   0.29|
|   Midtown Manhattan|           Uptown BK|  140509|   0.29|
|          Midtown BK|   Midtown Manhattan|  139842|   0.28|
|              Queens|Central Park East...|  127071|   0.26|
|Central Park East...|              Queens|  118514|   0.24|
|Harlem & Wash. He...|Harlem & Wash. He...|   62536|   0.13|
|              Queens|   Midtown Manhattan|   57950|   0.12|
|   Midtown Manhattan|              Queens|   57519|   0.12|
|Harlem & Wash. He...|    Uptown Manhattan|   49448|    0.1|
|               Bronx|    Uptown Manhattan|   45415|   0.09|
|    Uptown Manhattan|               Bronx|   43937|   0.09|
|    Uptown Manhattan|Harlem & Wash. He...|   41349|   0.08|
|    Uptown Manhattan|  Downtown Manhattan|   38119|   0.08|
|  Downtown Manhattan|    Uptown Manhattan|   33413|   0.07|
|           Uptown BK|Central Park East...|   33075|   0.07|
|Central Park East...|           Uptown BK|   32180|   0.07|
|         Downtown BK|  Downtown Manhattan|   31451|   0.06|
|              Queens|          Midtown BK|   29789|   0.06|
|          Midtown BK|Central Park East...|   22818|   0.05|
|          Midtown BK|              Queens|   22653|   0.05|
|Central Park East...|          Midtown BK|   22608|   0.05|
|  Downtown Manhattan|         Downtown BK|   21092|   0.04|
|           Uptown BK|         Downtown BK|   19035|   0.04|
|  Downtown Manhattan|              Queens|   18870|   0.04|
|Harlem & Wash. He...|Central Park East...|   17992|   0.04|
|              Queens|  Downtown Manhattan|   17987|   0.04|
|    Uptown Manhattan|              Queens|   14145|   0.03|
|              Queens|    Uptown Manhattan|   13646|   0.03|
|         Downtown BK|           Uptown BK|   13108|   0.03|
|Central Park East...|Harlem & Wash. He...|   10706|   0.02|
|               Bronx|Central Park East...|   10355|   0.02|
|Central Park East...|               Bronx|   10037|   0.02|
|Harlem & Wash. He...|               Bronx|    8335|   0.02|
|   Midtown Manhattan|         Downtown BK|    8188|   0.02|
|               Bronx|Harlem & Wash. He...|    7780|   0.02|
|         Downtown BK|   Midtown Manhattan|    7317|   0.01|
|Harlem & Wash. He...|   Midtown Manhattan|    6273|   0.01|
|   Midtown Manhattan|Harlem & Wash. He...|    4340|   0.01|
|   Midtown Manhattan|               Bronx|    3015|   0.01|
|           Uptown BK|    Uptown Manhattan|    2906|   0.01|
|    Uptown Manhattan|           Uptown BK|    2906|   0.01|
|               Bronx|   Midtown Manhattan|    2708|   0.01|
|               Bronx|              Queens|    2369|    0.0|
|    Uptown Manhattan|          Midtown BK|    2307|    0.0|
|              Queens|               Bronx|    2252|    0.0|
|          Midtown BK|    Uptown Manhattan|    2081|    0.0|
|Harlem & Wash. He...|  Downtown Manhattan|    1740|    0.0|
|Central Park East...|         Downtown BK|    1476|    0.0|
|              Queens|         Downtown BK|    1289|    0.0|
|         Downtown BK|Central Park East...|    1269|    0.0|
|  Downtown Manhattan|Harlem & Wash. He...|    1085|    0.0|
|         Downtown BK|              Queens|     780|    0.0|
|               Bronx|  Downtown Manhattan|     753|    0.0|
|  Downtown Manhattan|               Bronx|     704|    0.0|
|               Bronx|           Uptown BK|     209|    0.0|
|           Uptown BK|               Bronx|     208|    0.0|
|Harlem & Wash. He...|              Queens|     204|    0.0|
|    Uptown Manhattan|         Downtown BK|     200|    0.0|
|              Queens|Harlem & Wash. He...|     154|    0.0|
|Harlem & Wash. He...|          Midtown BK|     146|    0.0|
|               Bronx|          Midtown BK|     135|    0.0|
|         Downtown BK|    Uptown Manhattan|     131|    0.0|
|           Uptown BK|Harlem & Wash. He...|     119|    0.0|
|          Midtown BK|Harlem & Wash. He...|     109|    0.0|
|Harlem & Wash. He...|           Uptown BK|     108|    0.0|
|          Midtown BK|               Bronx|      94|    0.0|
|         Downtown BK|               Bronx|      15|    0.0|
|               Bronx|         Downtown BK|      15|    0.0|
|Harlem & Wash. He...|         Downtown BK|       8|    0.0|
|         Downtown BK|Harlem & Wash. He...|       5|    0.0|
+--------------------+--------------------+--------+-------+

### Most rides start and end in the same neighborhood; 63% start and end in the same neighborhood

In [28]:
df_rf.where(df_rf.start_neighborhood == df_rf.end_neighborhood).count()/df_rf.count()
#.groupby('start_neighborhood', 'end_neighborhood').count()#sort(desc("count")).show(100)

0.6328590104578536

In [29]:
df_group = df_rf.select('start_neighborhood', 'end_neighborhood', 'day', 'time_bin', 'peak_commute', 'month', 'hour')#.avg('tripduration')

## Start modeling pre-processing
- Predict end neighborhood from the start neighborhood, day of the week, time bin (morning, evening, etc.), whether the ride started at peak commute, and the month in which it was taken.

### Create the pipeline to transform the data for modeling

In [ ]:
from pyspark.ml import Pipeline
from pyspark.ml.feature import StringIndexer, OneHotEncoder, VectorAssembler

cats = ['day', 'time_bin', 'peak_commute', 'month', 'start_neighborhood']

# The index of string vlaues multiple columns
indexers = [
    StringIndexer(inputCol=c, outputCol="{0}_indexed".format(c))
    for c in cats
]

# The encode of indexed vlaues multiple columns
encoders = [OneHotEncoder(dropLast=False,inputCol=indexer.getOutputCol(),
            outputCol="{0}_encoded".format(indexer.getOutputCol())) 
    for indexer in indexers
]

# Vectorizing encoded values
assembler = VectorAssembler(inputCols=[encoder.getOutputCol() for encoder in encoders],outputCol="features")

label_indexer = StringIndexer(inputCol='end_neighborhood', outputCol= 'n_index')

label_encoder = OneHotEncoder(inputCol='n_index',outputCol= 'label')
                              
#label_assember = VectorAssembler(inputCols=,outputCol="label")

pipeline = Pipeline(stages=indexers + [label_indexer] + encoders+ [label_encoder] + [assembler])
model=pipeline.fit(df_group)
transformed = model.transform(df_group)
transformed.show(5)

**To avoid having to transform the data over and over, I saved the data to parquet files and loaded from there.**

In [30]:
#transformed.write.parquet("pipelined_data_NBs.parquet")

In [31]:
transformed = spark.read.parquet("pipelined_data_NBs.parquet");

#### Split the transformed data:

In [33]:
from pyspark.ml.feature import VectorAssembler, OneHotEncoder
from pyspark.ml.classification import RandomForestClassifier

#randomly split data into training and test dataset
(train_data, test_data, hold_out) = transformed.randomSplit([0.60, 0.20, 0.20], seed = 33)

In [34]:
transformed.show(5)

+--------------------+--------------------+--------+---------+------------+-----+----+-----------+----------------+--------------------+-------------+--------------------------+-------+-------------------+------------------------+----------------------------+---------------------+----------------------------------+-------------+--------------------+
|  start_neighborhood|    end_neighborhood|     day| time_bin|peak_commute|month|hour|day_indexed|time_bin_indexed|peak_commute_indexed|month_indexed|start_neighborhood_indexed|n_index|day_indexed_encoded|time_bin_indexed_encoded|peak_commute_indexed_encoded|month_indexed_encoded|start_neighborhood_indexed_encoded|        label|            features|
+--------------------+--------------------+--------+---------+------------+-----+----+-----------+----------------+--------------------+-------------+--------------------------+-------+-------------------+------------------------+----------------------------+---------------------+----------------------------------+-------------+--------------------+
|Central Park East...|Central Park East...|Thursday|  Evening|        peak|    5|  17|        3.0|             1.0|                 1.0|          1.0|                       2.0|    2.0|      (7,[3],[1.0])|           (4,[1],[1.0])|               (2,[1],[1.0])|       (12,[1],[1.0])|                    (10,[2],[1.0])|(9,[2],[1.0])|(35,[3,8,12,14,27...|
|   Midtown Manhattan|  Downtown Manhattan|Thursday|Afternoon|    non_peak|    5|  12|        3.0|             0.0|                 0.0|          1.0|                       0.0|    1.0|      (7,[3],[1.0])|           (4,[0],[1.0])|               (2,[0],[1.0])|       (12,[1],[1.0])|                    (10,[0],[1.0])|(9,[1],[1.0])|(35,[3,7,11,14,25...|
|              Queens|              Queens|  Sunday|  Morning|    non_peak|    5|   8|        6.0|             2.0|                 0.0|          1.0|                       6.0|    6.0|      (7,[6],[1.0])|           (4,[2],[1.0])|               (2,[0],[1.0])|       (12,[1],[1.0])|                    (10,[6],[1.0])|(9,[6],[1.0])|(35,[6,9,11,14,31...|
|              Queens|              Queens|Saturday|  Morning|    non_peak|    5|   8|        4.0|             2.0|                 0.0|          1.0|                       6.0|    6.0|      (7,[4],[1.0])|           (4,[2],[1.0])|               (2,[0],[1.0])|       (12,[1],[1.0])|                    (10,[6],[1.0])|(9,[6],[1.0])|(35,[4,9,11,14,31...|
|              Queens|              Queens|  Sunday|  Morning|    non_peak|    5|   8|        6.0|             2.0|                 0.0|          1.0|                       6.0|    6.0|      (7,[6],[1.0])|           (4,[2],[1.0])|               (2,[0],[1.0])|       (12,[1],[1.0])|                    (10,[6],[1.0])|(9,[6],[1.0])|(35,[6,9,11,14,31...|
+--------------------+--------------------+--------+---------+------------+-----+----+-----------+----------------+--------------------+-------------+--------------------------+-------+-------------------+------------------------+----------------------------+---------------------+----------------------------------+-------------+--------------------+
only showing top 5 rows

# LR Model with Cross Validation

### Run the model on the training data; too many folds in the CV process and too many grid elements proved to be computationally expensive, so I scaled back

In [35]:
from pyspark.ml.classification import LogisticRegression
from pyspark.ml.tuning import ParamGridBuilder, CrossValidator

In [36]:
lr = LogisticRegression(labelCol="n_index", featuresCol="features", maxIter=10, regParam=0.3, elasticNetParam=0)

evaluator = MulticlassClassificationEvaluator(
    labelCol="n_index", predictionCol="prediction", metricName="accuracy")

# Create ParamGrid for Cross Validation

paramGrid = (ParamGridBuilder()
             .addGrid(lr.regParam, [0.3, 0.5]) # regularization parameter
             .addGrid(lr.elasticNetParam, [0.0, 0.5, 1]) # Elastic Net Parameter (Ridge = 0)
#            .addGrid(model.maxIter, [10, 20, 50]) #Number of iterations
#            .addGrid(idf.numFeatures, [10, 100, 1000]) # Number of features
             .build())

# Create 3-fold CrossValidator
cv = CrossValidator(estimator=lr, \
                    estimatorParamMaps=paramGrid, \
                    evaluator=evaluator, \
                    numFolds=3)

cvModel = cv.fit(train_data)

### Save the model and predict on the test data

In [39]:
cvModel.save("lr_nbs")

In [42]:
predictions = cvModel.transform(test_data)

In [45]:
predictions.write.parquet("lr_preds_NBs.parquet")

### Important output files are saved for later analysis so this model does not have to be run again.